name: Deploy to Cloudflare Workers

on:
  push:
    branches: [ main, develop ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: ${{ github.ref == 'refs/heads/main' && 'production' || 'staging' }}
    steps:
      - name: Checkout your repository using git
        uses: actions/checkout@v5
      - name: Enable Corepack
        run: corepack enable
      - name: Use Node.js 22 and Yarn
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'yarn'
      - name: Patch config
        run: |
          jq '.site.base_url = "${{ vars.BASE_URL }}" | .site.base_path = "${{ vars.BASE_PATH }}"' src/config/config.json > temp.json && \
          mv temp.json src/config/config.json
      - name: Build site
        uses: withastro/action@v5
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-files
          path: dist/
  
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: build-files
          path: dist/
      - name: Build & Deploy Worker
        uses: cloudflare/wrangler-action@v3
        with:
          environment: ${{ github.ref == 'refs/heads/main' && 'production' || 'staging' }}
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
